<form [formGroup]="registerForm">
  <p class="h5 text-center mb-4">Sign up</p>

  <div class="form-group">
    <input type="text" formControlName="orangeFormName" id="orangeForm-name" class="form-control">
    <label for="orangeForm-name">Your name</label>
  </div>
  <div class="form-group">
    <input type="password" formControlName="orangeFormPass" id="orangeForm-pass" class="form-control">
    <label for="orangeForm-pass">Your password</label>
  </div>
  <button color="deep-orange" class="btn btn-primary">Sign up</button>
</form>
